<!-- H1 -->
<p style="font-size:40px;color:green;line-height:25px;margin-top:40px;margin-bottom:10px">
    <b>Questions #2</b>
</p>
<br>

## Reduce X amount of Duplicates based on Multiple Criteria
See [This Google Sheet](https://docs.google.com/spreadsheets/d/1f71aepuU2NvJI1EoFWpl3eCxypLFokJGNOdwIz8Xj1o/edit#gid=1385175813) for an example of what I would like
1. Sort df by {date} ASC then by {gap} DESC then by {now_open} ASC
2. Count the Unique Occurences of the {date} values ({unique_count})
3. Create a new df (df2) that excludes all {unique_count} > 10

In [7]:
import pandas as pd

df = pd.read_csv ('Question 2 - Table.csv')

df = df[[
    'date',
    'symbol',
    'gap',
    'pos_type',
    'now_open',
    ]]

df

           date symbol       gap pos_type    now_open
0    2020-01-02   BRTX  0.060000    short   21.200001
1    2020-01-02   YINN  0.049751    short   22.911532
2    2020-01-02   NRBO  0.045714    short    9.150000
3    2020-01-02   CWEB  0.043825    short   29.320000
4    2020-01-02     WB  0.042071    short   48.299999
..          ...    ...       ...      ...         ...
526  2020-01-31     EW  0.036287    short   80.820000
527  2020-01-31   VRTX  0.036212    short  238.649994
528  2020-01-31    MTX  0.034258    short   56.696390
529  2020-01-31    WDC  0.032855    short   68.265772
530  2020-01-31   FWBI  0.029703    short    9.360000

[531 rows x 5 columns]

In [8]:
#Sort df by {date} ASC then by {gap} DESC then by {now_open} ASC

df = df.sort_values(by=['date', 'gap', 'now_open'], ascending=[True, False, True])

df

           date symbol       gap pos_type    now_open
0    2020-01-02   BRTX  0.060000    short   21.200001
1    2020-01-02   YINN  0.049751    short   22.911532
2    2020-01-02   NRBO  0.045714    short    9.150000
3    2020-01-02   CWEB  0.043825    short   29.320000
4    2020-01-02     WB  0.042071    short   48.299999
..          ...    ...       ...      ...         ...
526  2020-01-31     EW  0.036287    short   80.820000
527  2020-01-31   VRTX  0.036212    short  238.649994
528  2020-01-31    MTX  0.034258    short   56.696390
529  2020-01-31    WDC  0.032855    short   68.265772
530  2020-01-31   FWBI  0.029703    short    9.360000

[531 rows x 5 columns]

In [9]:
#Count the Unique Occurences of the {date} values ({unique_count})

lst = []
uniques = df.value_counts('date')

for unique in uniques: 
    lst += list(range(1, unique+1))

df["unique_count"] = pd.Series(lst)

df

           date symbol       gap pos_type    now_open  unique_count
0    2020-01-02   BRTX  0.060000    short   21.200001             1
1    2020-01-02   YINN  0.049751    short   22.911532             2
2    2020-01-02   NRBO  0.045714    short    9.150000             3
3    2020-01-02   CWEB  0.043825    short   29.320000             4
4    2020-01-02     WB  0.042071    short   48.299999             5
..          ...    ...       ...      ...         ...           ...
526  2020-01-31     EW  0.036287    short   80.820000            21
527  2020-01-31   VRTX  0.036212    short  238.649994            22
528  2020-01-31    MTX  0.034258    short   56.696390            23
529  2020-01-31    WDC  0.032855    short   68.265772            24
530  2020-01-31   FWBI  0.029703    short    9.360000            25

[531 rows x 6 columns]

In [10]:
#Create a new df (df2) that excludes all {unique_count} > 10

dates = df.value_counts('date').keys().tolist()

for date in dates:
    temp = df.loc[df['date'] == date][10:]
    trash = temp.index.tolist()
    df2 = df.drop(trash)

df2 = df2.reset_index(drop = True)
    
df2

           date symbol       gap pos_type    now_open  unique_count
0    2020-01-02   BRTX  0.060000    short   21.200001             1
1    2020-01-02   YINN  0.049751    short   22.911532             2
2    2020-01-02   NRBO  0.045714    short    9.150000             3
3    2020-01-02   CWEB  0.043825    short   29.320000             4
4    2020-01-02     WB  0.042071    short   48.299999             5
..          ...    ...       ...      ...         ...           ...
511  2020-01-31   NATI  0.053510    short   44.218881             6
512  2020-01-31    EDZ  0.046692    short   39.184565             7
513  2020-01-31   DECK  0.046228    short  185.580002             8
514  2020-01-31   POWI  0.045417    short   50.506120             9
515  2020-01-31    IBM  0.044820    short  125.239037            10

[516 rows x 6 columns]